build
bin
.idea
*.con
api/win/backend-ctp
api/linux/backend-ctp
api/win/backend-ctp.exe
api/win/backend-ctp.exe.manifest
api/win/backend-ctp.log
api/win/backend-ctp.pdb
api/win/config.ini
api/win/myeasylog.log
*.exe
*.log

